 body {
    background-color: powderblue;
    
  }
  .imagecontainer {
      text-align: center;

  }
  img.profile {
      width: 40%;
      border-radius: 50%;
  }
  .title {
  display:flex;
  justify-content:center;
  }
.content {
    max-width: 24%;
    margin-top: 50px;
    margin-left: 38%;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5%;
  }
  input {
      width: 50%; 
      padding: 14px 20px;
      margin-bottom: 10px;
  }
  label {
      font-size: 12px;
      margin-bottom: 10px
  }
  .button-container > button {
    color: brown;
    background-color: aquamarine;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5%;
  }
  h2 {
    color: blue;
  }
 